* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-hero {
    position: relative;
    display: flex;
    padding: 50px 0;
    background-color: #5e171e;
}

.index-hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("assets/b.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.2;
}

.index-hero > * {
    position: relative;
    z-index: 1;
}

.hero-content {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.hero-content::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("assets/icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    opacity: 0.2;
}

.hero-content > * {
  position: relative;
  z-index: 1;
}

.hero-visual {
    width: 40%;
}

.hero-visual img {
    width: 79%;
    object-fit: cover;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.5)
}