* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-hero {
    display: flex;
    min-height: 100vh;
    padding: 20px 0;
}

.hero-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.hero-visual {
    width: 40%;
}

.hero-visual img {
    width: 90%;
    object-fit: cover;
}

body {
    background-color: aquamarine;
}